
FakeIt3D/FakeIt3D/x64/Debug/FakeIt3D\.tlog/

FakeIt3D/FakeIt3D/x64/Debug/

FakeIt3D/\.vs/FakeIt3D/v15/

FakeIt3D/\.vs/

FakeIt3D/x64/Debug/

FakeIt3D/FakeIt3D/Pixel\.cso

FakeIt3D/FakeIt3D/Vertex\.cso

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.log

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/CL\.command\.1\.tlog

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/CL\.read\.1\.tlog

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/CL\.write\.1\.tlog

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/FakeIt3D\.lastbuildstate

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/FakeIt3D\.write\.1u\.tlog

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/fxc\.command\.1\.tlog

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/fxc\.read\.1\.tlog

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/fxc\.write\.1\.tlog

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/link\.command\.1\.tlog

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/link\.read\.1\.tlog

FakeIt3D/FakeIt3D/x64/Release/FakeIt3D\.tlog/link\.write\.1\.tlog

FakeIt3D/FakeIt3D/x64/Release/ForwardRenderer\.obj

FakeIt3D/FakeIt3D/x64/Release/GameWindow\.obj

FakeIt3D/FakeIt3D/x64/Release/main\.obj

FakeIt3D/FakeIt3D/x64/Release/Object\.obj

FakeIt3D/FakeIt3D/x64/Release/vc141\.pdb

FakeIt3D/x64/Release/FakeIt3D\.exe

FakeIt3D/x64/Release/FakeIt3D\.iobj

FakeIt3D/x64/Release/FakeIt3D\.ipdb

FakeIt3D/x64/Release/FakeIt3D\.pdb

*.cso

*.vcxproj

*.filters
